<app-navbar></app-navbar>
<div class="p-grid">
    <div class="p-col-12 p-md-8">
        <div class="create-technician-form">
            <h2>Crear Nuevo Técnico</h2>
            <p-toast></p-toast>
            <form #technicianForm="ngForm" (ngSubmit)="onSubmit(technicianForm)">
                <!-- Nombre del Técnico -->
                <div class="p-field">
                    <label for="technicianName">Nombre del Técnico</label>
                    <input type="text" id="technicianName" pInputText [(ngModel)]="technicianName" name="name" required />


                </div>

                <!-- Tipo de Documento -->
                <div class="p-field">
                    <label for="documentType">Tipo de Documento</label>
                    <p-dropdown [options]="documentTypes" [(ngModel)]="selectedDocumentType" name="documentType"></p-dropdown>

                </div>

                <!-- Número de Documento -->
                <div class="p-field">
                    <label for="document">Documento</label>
                    <input type="text" id="document" pInputText [(ngModel)]="technicianDocument" name="document" required />

                </div>

                <!-- Selección de Cuadrilla -->
                <div class="p-field">
                    <label for="crew">Cuadrilla</label>
                    <p-dropdown [options]="crews" [(ngModel)]="selectedCrew" optionLabel="label" name="crew"></p-dropdown>

                </div>


                <button pButton type="submit" label="Guardar Técnico"></button>
            </form>
        </div>
    </div>

    <div class="p-col-12 p-md-4 admin-panel">
        <div class="admin-image-container">
        </div>
        <div class="admin-name">
            ADMIN
        </div>
        <div class="admin-buttons">
            <button class="admin-button" pButton label="CREAR NUEVA AGENDA MANUAL"
                routerLink="/admin/create-manual-schedule"></button>
            <button class="admin-button" pButton label="CREAR NUEVO TECNICO"
                routerLink="/admin/create-technician"></button>
            <button class="admin-button" pButton label="VER REPORTES" routerLink="/admin/view-reports"></button>
            <button class="admin-button" pButton label="VER AGENDA GENERAL"
                routerLink="/admin/view-general-schedule"></button>
            <button class="admin-button" pButton label="SUBIR ARCHIVO TECNICOS"
                routerLink="/admin/upload-technician-file"></button>
            <button class="admin-button" pButton label="VER TECNICOS" routerLink="/admin/view-technicians"></button>
        </div>

    </div>
</div>