<app-navbar></app-navbar>
<div class="p-grid">
  <div class="p-col-12 main-panel">
    <p-dataView [value]="orders">
      <ng-template let-order pTemplate="listItem">
        <div class="order-card">
          <div class="order">
            <div class="order-header">
              <div class="order-title">
                <span class="order-id">Order {{ order.orderId }}</span>
                <span class="order-status" [ngClass]="{'resolved': getOrderStatus(order) === 'RESUELTA', 'scheduled': getOrderStatus(order) === 'AGENDADA', 'open': getOrderStatus(order) === 'ABIERTA'}">{{ getOrderStatus(order) }}</span>
              </div>
              <div class="report-date">{{ order.reportDate | date: 'M/d/yy' }}</div>
            </div>
            <div class="order-content">
              <div class="order-description">Tipo de daño: {{ order.damageId }}</div>
              <div class="order-client-tech">
                <span>ID Cliente: {{ order.customerId }}</span>
                <span>ID Técnico: {{ order.technicianId ? order.technicianId : 'N/A' }}</span>
              </div>
            </div>
          </div>
        </div>
      </ng-template>
    </p-dataView>
  </div>

  <div class="p-col-12 p-md-4 admin-panel">
    <div class="admin-image-container">
      <!-- Contenido del contenedor de imagen del administrador -->
    </div>
    <div class="admin-name">
      ADMIN
    </div>
    <div class="admin-buttons">
      
      <button class="admin-button" pButton label="Crear Nuevo Tecnico" routerLink="/admin/create-technician"></button>
            <button class="admin-button" pButton label="Ver Reportes" routerLink="/admin/view-reports"></button>
            <button class="admin-button" pButton label="Ver Agenda General" routerLink="/admin/view-general-schedule"></button>
            <button class="admin-button" pButton label="Ver Tecnicos" routerLink="/admin/view-technicians"></button>
            <button class="admin-button" pButton label="Asignar Técnico" routerLink="/admin/assign-technician"></button>
    </div>
  </div>
</div>
<!-- Diálogo para asignar técnico (fuera del *ngFor) -->
<p-dialog header="Asignar Técnico" [(visible)]="technicianDialogVisible" [modal]="true" [style]="{width: '50vw'}">
  <div class="p-fluid">
    <div class="p-field">
      <label for="technicianId">ID del Técnico</label>
      <input id="technicianId" type="number" pInputText [(ngModel)]="selectedTechnicianId">
    </div>
    <button pButton type="button" label="Asignar" (click)="assignTechnician()"></button>
    <button pButton type="button" label="Cancelar" (click)="technicianDialogVisible = false" class="ui-button-secondary"></button>
  </div>
</p-dialog>