.p-button, .p-buttonset, .p-splitbutton
  &.p-button-success
    color: #ffffff
    // background: #966C45
    > .p-button
      color: #ffffff
      // background: #966C45
  &.p-button-success
    > .p-button
      color: #ffffff
      // background: #966C45
