<app-navbar [dashboardRoute]="'/customer-dashboard'"></app-navbar>

<div class="p-grid">
  <div class="p-col-12 p-md-8 main-panel">
    <p-dataView [value]="orders">
        <ng-template let-order pTemplate="listItem">
          <div class="order-card">
            <div class="order">
            <div class="order-header">
              <div class="order-title">
                <span class="order-id">Orden {{ order.orderId }}</span>
                <span class="order-status" [ngClass]="{'resolved': getOrderStatus(order) === 'RESUELTA', 'scheduled': getOrderStatus(order) === 'AGENDADA', 'open': getOrderStatus(order) === 'ABIERTA'}">{{ getOrderStatus(order) }}</span>
              </div>
              <div class="report-date">{{ order.reportDate | date: 'M/d/yy' }}</div>

            </div>
            <div class="order-content">
              <div class="order-description">Tipo de daño: {{ order.damageId }}</div>
              <div class="order-client-tech">
                <span>ID Cliente: {{ order.customerId }}</span>
                <span>ID Técnico: {{ order.technicianId ? order.technicianId : 'N/A' }}</span>
              </div>
            </div>
          </div>
          </div>
        </ng-template>
      </p-dataView>
</div>



    <div class="p-col-12 p-md-4 customer-panel">
        <div class="customer-image-container">
        </div>
        <div class="client-name">
          Customer
        </div>
        <div class="client-buttons">
            <p>C.C. 1234093777</p>
            <p>Direccion</p>
            <p>Comuna</p>
            <button class="client-button" pButton label="Reportar Dano" routerLink="/customer/report-damage"></button>
            <p>Cualquier duda extra, no dudes en contactarnos!</p>
            <p>+9 999-99-999</p>
          </div>
          
      </div>
</div>