<p-menubar>
    <ng-template pTemplate="start">
        <img src="https://media.licdn.com/dms/image/D4E16AQE6evUw5JA6xw/profile-displaybackgroundimage-shrink_200_800/0/1694749979237?e=2147483647&v=beta&t=kCGtVOHlnHZc4WU6gtRn0pkhTdGbOEs0wwe0hK8mTLA" alt="Logo" height="40">
    </ng-template>
    <ng-template pTemplate="end">
        <button pButton type="button" label="Inicio" (click)="goToDashboard()"></button>
        <button pButton type="button" label="Cerrar Sesión" (click)="logout()"></button>
    </ng-template>
</p-menubar>
