<p>upload-technician-file works!</p>
<app-navbar></app-navbar>
<div class="p-grid">
    <div class="p-col-12 p-md-8">
        
    </div>

    <div class="p-col-12 p-md-4 admin-panel">
        <div class="admin-image-container">
        </div>
        <div class="admin-name">
          ADMIN
        </div>
        <div class="admin-buttons">
            
          <button class="admin-button" pButton label="Crear Nuevo Tecnico" routerLink="/admin/create-technician"></button>
          <button class="admin-button" pButton label="Ver Reportes" routerLink="/admin/view-reports"></button>
          <button class="admin-button" pButton label="Ver Agenda General" routerLink="/admin/view-general-schedule"></button>
          <button class="admin-button" pButton label="Ver Tecnicos" routerLink="/admin/view-technicians"></button>
          <button class="admin-button" pButton label="Asignar Técnico" routerLink="/admin/assign-technician"></button>
          </div>
          
      </div>
</div>