<p>manage-technicians works!</p>
<app-navbar></app-navbar>
<div class="p-grid">
    <div class="p-col-12 p-md-8">
        
    </div>

    <div class="p-col-12 p-md-4 admin-panel">
        <div class="admin-image-container">
        </div>
        <div class="admin-name">
          ADMIN
        </div>
        <div class="admin-buttons">
            <button class="admin-button" pButton label="CREAR NUEVA AGENDA MANUAL" routerLink="/admin/create-manual-schedule"></button>
            <button class="admin-button" pButton label="CREAR NUEVO TECNICO" routerLink="/admin/create-technician"></button>
            <button class="admin-button" pButton label="VER REPORTES" routerLink="/admin/view-reports"></button>
            <button class="admin-button" pButton label="VER AGENDA GENERAL" routerLink="/admin/view-general-schedule"></button>
            <button class="admin-button" pButton label="SUBIR ARCHIVO TECNICOS" routerLink="/admin/upload-technician-file"></button>
            <button class="admin-button" pButton label="VER TECNICOS" routerLink="/admin/view-technicians"></button>
          </div>
          
      </div>
</div>